<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="cfb7e3">  <td>20/03/05 12:48:12</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.faveo.healthinsurance.CareHeart@52af6cff]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458849419</td>   <td></td> </tr>
<tr bgcolor="75828b">  <td>20/03/05 12:48:12</td>   <td>281</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CareHeart.careHeartJourney()[pri:1, instance:com.org.faveo.healthinsurance.CareHeart@52af6cff]">careHeartJourney</td> 
  <td>main@1458849419</td>   <td></td> </tr>
<tr bgcolor="cfb7e3">  <td>20/03/05 12:48:36</td>   <td>24155</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.faveo.healthinsurance.CareHeart@52af6cff]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1458849419</td>   <td></td> </tr>
<tr bgcolor="cfb7e3">  <td>20/03/05 12:48:36</td>   <td>24299</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.faveo.healthinsurance.CareHeart@52af6cff]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1458849419</td>   <td></td> </tr>
</table>
