<h2>Methods that were not run</h2><table>
<tr><td>com.org.faveo.healthinsurance.CareHeart.verifyDataOfShareProposalInDraftHistory</td></tr>
<tr><td>com.org.faveo.healthinsurance.CareHeart.careHeartJourney_ShareQuote</td></tr>
<tr><td>com.org.faveo.healthinsurance.CareHeart.verifyDataOfShareProposalInDraftHistoryAndEmail</td></tr>
</table>