<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="7e6faf">  <td>20/03/05 13:07:36</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.faveo.healthinsurance.CareHeart@7e0ea639]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@328638398</td>   <td></td> </tr>
<tr bgcolor="c6a873">  <td>20/03/05 13:07:36</td>   <td>156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CareHeart.careHeartJourney()[pri:1, instance:com.org.faveo.healthinsurance.CareHeart@7e0ea639]">careHeartJourney</td> 
  <td>main@328638398</td>   <td></td> </tr>
<tr bgcolor="7e6faf">  <td>20/03/05 13:07:59</td>   <td>22445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.faveo.healthinsurance.CareHeart@7e0ea639]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@328638398</td>   <td></td> </tr>
<tr bgcolor="7e6faf">  <td>20/03/05 13:07:59</td>   <td>22554</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.faveo.healthinsurance.CareHeart@7e0ea639]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@328638398</td>   <td></td> </tr>
</table>
