<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>com.org.faveo.healthinsurance.SuperMediclaimCritical</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>verifySharedQuotationScenario_InSuperMediclaimCritical</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDataOfShareProposalInDraftHistoryAndEmail</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>verifyDataOfShareProposalInDraftHistory</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>supermediclaimcritical</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>getResult</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
