<h2>Methods that were not run</h2><table>
<tr><td>com.org.faveo.healthinsurance.SuperMediclaimCritical.verifySharedQuotationScenario_InSuperMediclaimCritical</td></tr>
<tr><td>com.org.faveo.healthinsurance.SuperMediclaimCritical.supermediclaimcritical</td></tr>
<tr><td>com.org.faveo.healthinsurance.SuperMediclaimCritical.verifyDataOfShareProposalInDraftHistoryAndEmail</td></tr>
</table>