<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="72cbfa">  <td>20/03/06 15:12:57</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.faveo.healthinsurance.SuperMediclaimCritical@531be3c5]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1566502717</td>   <td></td> </tr>
<tr bgcolor="b86989">  <td>20/03/06 15:12:57</td>   <td>301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="SuperMediclaimCritical.verifyDataOfShareProposalInDraftHistory()[pri:1, instance:com.org.faveo.healthinsurance.SuperMediclaimCritical@531be3c5]">verifyDataOfShareProposalInDraftHistory</td> 
  <td>main@1566502717</td>   <td></td> </tr>
<tr bgcolor="72cbfa">  <td>20/03/06 15:41:25</td>   <td>1708471</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.faveo.healthinsurance.SuperMediclaimCritical@531be3c5]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1566502717</td>   <td></td> </tr>
<tr bgcolor="72cbfa">  <td>20/03/06 15:41:25</td>   <td>1708486</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.faveo.healthinsurance.SuperMediclaimCritical@531be3c5]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1566502717</td>   <td></td> </tr>
</table>
