<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (1)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d992b2">  <td>20/02/10 15:37:18</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mail.MailSend()[pri:0, instance:com.org.faveo.utility.Mail@6d00a15d]">MailSend</td> 
  <td>main@1159785389</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>20/02/10 15:37:18</td>   <td>-5</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.faveo.utility.Mail@6d00a15d]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159785389</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>20/02/10 15:37:22</td>   <td>3860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.faveo.utility.Mail@6d00a15d]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1159785389</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>20/02/10 15:37:22</td>   <td>3884</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.faveo.utility.Mail@6d00a15d]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1159785389</td>   <td></td> </tr>
</table>
