<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>BVTSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e88b9c">  <td>18/12/21 21:07:24</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.faveo.BVT.BVTClass@7e0b0338]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="c0edeb">  <td>18/12/21 21:07:24</td>   <td>125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BVTClass.BVTTestSuite()[pri:0, instance:com.org.faveo.BVT.BVTClass@7e0b0338]">BVTTestSuite</td> 
  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>18/12/21 21:35:53</td>   <td>1709339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.faveo.BVT.BVTClass@7e0b0338]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="7e8f62">  <td>18/12/21 21:35:53</td>   <td>1709341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mail.MailSend()[pri:0, instance:com.org.faveo.utility.Mail@617faa95]">MailSend</td> 
  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>18/12/21 21:35:56</td>   <td>1711874</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.faveo.utility.Mail@617faa95]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
<tr bgcolor="e88b9c">  <td>18/12/21 21:35:56</td>   <td>1711983</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.faveo.BVT.BVTClass@7e0b0338]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@979294118</td>   <td></td> </tr>
</table>
